APP_NAME="resqnet"
APP_URL="http://localhost:8000"
APP_DEBUG=false

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=resqnet
DB_USERNAME=root
DB_PASSWORD=
DB_CONNECT_TIMEOUT=10
DB_SSL_MODE=disable
DB_SSL_CA=
DB_SSL_CERT=
DB_SSL_KEY=

# For managed MySQL (DigitalOcean, etc.) use:
# DB_SSL_MODE=require
# DB_SSL_CA=/etc/ssl/cert.pem
